nav {
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
  li {
    margin: 0 0.5rem;
    margin-top: 1.3rem;
    position: relative;
    float: right;
  }
}


nav ul li.active a,
nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

nav ul li a {
    display: block;
    padding: 1rem;
    color: #333;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    background-color: #58c7ff;
  }
  
  nav ul li.active a,
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
